:root {
  --duration: 60s;
}

@keyframes builderio-nwerigjfwiofqeidfjnaknsggrstdrhrthrthwgafdsf {
  0% {
    height: 5%;
    width: 5%;
    top: 20%;
    left: 40%;
    opacity: 1;
  }
  55% {
    height: 5%;
    width: 5%;
    top: -2%;
    left: 20%;
    opacity: 1;
  }
  85% {
    height: 5%;
    width: 5%;
    top: -2%;
    left: 5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 5%;
    width: 5%;
    top: -12%;
    left: 5%;
    opacity: 0;
  }
}
@keyframes builderio-fweferfewrfgrtghytjulikuimjnhfgddwerfgtghrhry {
  0% {
    height: 5%;
    width: 5%;
    top: 68%;
    left: 40%;
    opacity: 1;
  }
  55% {
    height: 5%;
    width: 5%;
    top: -2%;
    left: 20%;
    opacity: 1;
  }
  85% {
    height: 5%;
    width: 5%;
    top: -2%;
    left: 5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 5%;
    width: 5%;
    top: -12%;
    left: 5%;
    opacity: 0;
  }
}
@keyframes builderio-ytjdrtuhrytjhryjhtfrrtfhrthrrthrthrthrththterhset {
  0% {
    height: 3%;
    width: 6%;
    top: 20%;
    left: 99.5%;
    opacity: 1;
    transform: rotate(90deg);
  }
  10% {
    height: 3%;
    width: 6%;
    top: 7%;
    left: 99.5%;
    transform: rotate(90deg);
  }
  11% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
  }
  20% {
    height: 3%;
    width: 6%;
    top: 7%;
    left: 74%;
    opacity: 1;
    transform: rotate(0deg);
  }
  21% {
    height: 3%;
    width: 6%;
    top: 7%;
    left: 74%;
    opacity: 1;
    transform: rotate(-90deg);
  }
  49% {
    opacity: 1;
  }
  100% {
    height: 3%;
    width: 6%;
    top: 20%;
    left: 54%;
    opacity: 1;
    transform: rotate(-90deg);
  }
}
@keyframes builderio-difgjhoikdetngjlkndhdfgjhlikjdflknjhdfslgmksdflgkl {
  0% {
    height: 3%;
    width: 6%;
    top: 20%;
    left: 99.5%;
    opacity: 1;
    transform: rotate(90deg);
  }
  10% {
    height: 3%;
    width: 6%;
    top: 7%;
    left: 99.5%;
    transform: rotate(90deg);
  }
  11% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(0deg);
  }
  20% {
    height: 3%;
    width: 6%;
    top: 7%;
    left: 74%;
    opacity: 1;
    transform: rotate(0deg);
  }
  21% {
    height: 3%;
    width: 6%;
    top: 7%;
    left: 74%;
    opacity: 1;
    transform: rotate(-90deg);
  }
  49% {
    opacity: 1;
  }
  100% {
    height: 3%;
    width: 6%;
    top: 69%;
    left: 54%;
    opacity: 1;
    transform: rotate(-90deg);
  }
}
@keyframes builderio-rtjnrodjhgksdfgjdsfgjlkhsjokdrthrthrthsefrgnhjob {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 15%;
    left: 42%;
  }
  10% {
    height: 2.5%;
    width: 2.5%;
    top: 15%;
    left: 42%;
  }
  35% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  55% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  85% {
    height: 2.5%;
    width: 2.5%;
    top: 70%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 75%;
    left: 56%;
  }
}
@keyframes builderio-rferfergfergertgergergergergthyjyujtyujyrthrtgherge {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 17%;
    left: 42%;
  }
  12% {
    height: 2.5%;
    width: 2.5%;
    top: 17%;
    left: 42%;
  }
  37% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  57% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  87% {
    height: 2.5%;
    width: 2.5%;
    top: 70%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 75%;
    left: 56%;
  }
}
@keyframes builderio-ertyhrthrthrthrythbvjubn78kimwerfgerfegertggerfgrgerger {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 19%;
    left: 42%;
  }
  14% {
    height: 2.5%;
    width: 2.5%;
    top: 19%;
    left: 42%;
  }
  39% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  59% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  89% {
    height: 2.5%;
    width: 2.5%;
    top: 70%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 75%;
    left: 56%;
  }
}
@keyframes builderio-sdgjinhiosdglkangkpmjpmgkssdfgsgsrgswrgwdsfnghokdng {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 25%;
    left: 42%;
  }
  15% {
    height: 2.5%;
    width: 2.5%;
    top: 25%;
    left: 42%;
  }
  40% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  60% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  90% {
    height: 2.5%;
    width: 2.5%;
    top: 50%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 65%;
    left: 56%;
  }
}
@keyframes builderio-ergergthgrthytnthyrhtgfsdgsdfsdfsdfcsdfcsdvfssdvf {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 27%;
    left: 42%;
  }
  17% {
    height: 2.5%;
    width: 2.5%;
    top: 27%;
    left: 42%;
  }
  42% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  62% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  92% {
    height: 2.5%;
    width: 2.5%;
    top: 50%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 65%;
    left: 56%;
  }
}
@keyframes builderio-tbnhrthbnrythyrtnhytjytujnytujnytjnynjhrthbetghbertbghegrf {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 29%;
    left: 42%;
  }
  19% {
    height: 2.5%;
    width: 2.5%;
    top: 29%;
    left: 42%;
  }
  44% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  64% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  94% {
    height: 2.5%;
    width: 2.5%;
    top: 50%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 65%;
    left: 56%;
  }
}
@keyframes builderio-sjoabfgnkwgnjkrwejgpjersgjerksgrswgtwregrwegerggjer {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 65%;
    left: 42%;
  }
  15% {
    height: 2.5%;
    width: 2.5%;
    top: 65%;
    left: 42%;
  }
  45% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  70% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  90% {
    height: 2.5%;
    width: 2.5%;
    top: 10%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 25%;
    left: 56%;
  }
}
@keyframes builderio-wfwefwefwerfwergrthtyjyujyujukuikuilkoilkjnrgtbverfver {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 67%;
    left: 42%;
  }
  17% {
    height: 2.5%;
    width: 2.5%;
    top: 67%;
    left: 42%;
  }
  47% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  72% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  92% {
    height: 2.5%;
    width: 2.5%;
    top: 10%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 25%;
    left: 56%;
  }
}
@keyframes builderio-werfwerfgergrtgrtghrthythythytjnhytujnyujntyhrtgbvefrgerg {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 69%;
    left: 42%;
  }
  19% {
    height: 2.5%;
    width: 2.5%;
    top: 69%;
    left: 42%;
  }
  49% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  74% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  94% {
    height: 2.5%;
    width: 2.5%;
    top: 10%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 25%;
    left: 56%;
  }
}
@keyframes builderio-jsdghjkthertoigjhieropgjirogjjrnsfgggsrgwregrwegjeroing {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 75%;
    left: 42%;
  }
  20% {
    height: 2.5%;
    width: 2.5%;
    top: 75%;
    left: 42%;
  }
  55% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  85% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  90% {
    height: 2.5%;
    width: 2.5%;
    top: 0%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 15%;
    left: 56%;
  }
}
@keyframes builderio-egertgrthythytjytjytujhythrtgerfgerfwerfwerfervretgrtgrt {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 77%;
    left: 42%;
  }
  22% {
    height: 2.5%;
    width: 2.5%;
    top: 77%;
    left: 42%;
  }
  57% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  87% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  92% {
    height: 2.5%;
    width: 2.5%;
    top: 0%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 15%;
    left: 56%;
  }
}
@keyframes builderio-rtbhrythythytjuyjmyuikyujnytbhrtgverfgerfverfvverferfer {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 79%;
    left: 42%;
  }
  24% {
    height: 2.5%;
    width: 2.5%;
    top: 79%;
    left: 42%;
  }
  59% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 42%;
  }
  89% {
    height: 2.5%;
    width: 2.5%;
    top: -18.5%;
    left: 56%;
  }
  94% {
    height: 2.5%;
    width: 2.5%;
    top: 0%;
    left: 56%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 15%;
    left: 56%;
  }
}
@keyframes builderio-ipwehfohguoierhouihfgkwejfoipwesrgsrgrjfgoinhksad {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 25%;
    left: 42%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 25%;
    left: 56%;
  }
}
@keyframes builderio-sngfswrpgjopwregoeghpdgkpskfldegrgherergergerhdegswg {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 35.5%;
    left: 42%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 35.5%;
    left: 56%;
  }
}
@keyframes builderio-rgnjhlkegnjhkenjgiksjkgdaskfksdfnjkgswefgwefweffwefanaf {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 46%;
    left: 42%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 46%;
    left: 56%;
  }
}
@keyframes builderio-phoijetnjhlkengkpwrngknslknsdlknglksdwefweffweffnglksnd {
  0% {
    height: 2.5%;
    width: 2.5%;
    top: 56.2%;
    left: 42%;
  }
  100% {
    height: 2.5%;
    width: 2.5%;
    top: 56.2%;
    left: 56%;
  }
}
@keyframes builderio-asdfbsbgjskgkshkghsiopgjhkgjhlsgjkospjgopjswropgj {
  0% {
    height: 4.5%;
    width: 9%;
    top: 80%;
    left: -10%;
    opacity: 0;
    transform: rotate(90deg);
  }
  10% {
    height: 4.5%;
    width: 9%;
    top: 85%;
    left: -10%;
    opacity: 0;
    transform: rotate(90deg);
  }
  11% {
    transform: rotate(0deg);
  }
  29% {
    transform: rotate(0deg);
  }
  30% {
    height: 4.5%;
    width: 9%;
    top: 87%;
    left: 20%;
    opacity: 0;
  }
  60% {
    transform: rotate(-90deg);
  }
  100% {
    height: 4.5%;
    width: 9%;
    top: 20%;
    left: 37%;
    opacity: 0;
    transform: rotate(-90deg);
  }
}
@keyframes builderio-ipgnjikergnhjeghoiergokfsdjghsuideghdjifbhgjlis {
  0% {
    height: 3%;
    width: 3%;
    top: 20%;
    left: 99.5%;
    opacity: 1;
  }
  10% {
    height: 3%;
    width: 3%;
    top: 7%;
    left: 99.5%;
  }
  20% {
    height: 3%;
    width: 3%;
    top: 7%;
    left: 74.5%;
  }
  40% {
    height: 3%;
    width: 3%;
    top: 44%;
    left: 56%;
  }
  100% {
    height: 3%;
    width: 3%;
    top: 20%;
    left: 56%;
    opacity: 1;
  }
}
@keyframes builderio-jsregnhdfguijhbguidshguidfhguihsdgfibghshdgdfjh {
  0% {
    height: 3%;
    width: 3%;
    top: 21.8%;
    left: 99.5%;
    opacity: 1;
  }
  11.8% {
    height: 3%;
    width: 3%;
    top: 7%;
    left: 99.5%;
  }
  21.9% {
    height: 3%;
    width: 3%;
    top: 7%;
    left: 74.5%;
  }
  41.9% {
    height: 3%;
    width: 3%;
    top: 45%;
    left: 56%;
  }
  100% {
    height: 3%;
    width: 3%;
    top: 70%;
    left: 56%;
    opacity: 1;
  }
}
@keyframes builderio-dfsghoishrgoihuefrgerigyuieriglusihuishdeluguisdfl {
  0% {
    height: 5%;
    width: 5%;
    top: 20%;
    left: 56%;
    opacity: 1;
  }
  70% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 78%;
    opacity: 1;
  }
  90% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 92.5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 5%;
    width: 5%;
    top: 92%;
    left: 92.5%;
    opacity: 0;
  }
}
@keyframes builderio-rthdrthrtdhsdfrtyyhrtghdfgsdrgrhtymjtujtyujhrgheg {
  0% {
    height: 5%;
    width: 5%;
    top: 20%;
    left: 56%;
    opacity: 1;
  }
  60% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 78%;
    opacity: 1;
  }
  90% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 92.5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 5%;
    width: 5%;
    top: 92%;
    left: 92.5%;
    opacity: 0;
  }
}
@keyframes builderio-fgdjhsfghsdfghdfshfgdhfghsdfhdfghsdfgbhsdfhfghgh {
  0% {
    height: 5%;
    width: 5%;
    top: 20%;
    left: 56%;
    opacity: 1;
  }
  50% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 78%;
    opacity: 1;
  }
  90% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 92.5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 5%;
    width: 5%;
    top: 92%;
    left: 92.5%;
    opacity: 0;
  }
}
@keyframes builderio-soirfghoishuigldeguishdfughudsfighudifghudfghsudg {
  0% {
    height: 5%;
    width: 5%;
    top: 70%;
    left: 56%;
    opacity: 1;
  }
  70% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 78%;
    opacity: 1;
  }
  90% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 92.5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 5%;
    width: 5%;
    top: 92%;
    left: 92.5%;
    opacity: 0;
  }
}
@keyframes builderio-ergtersdfgsdfsgrtfhytjyumjkyujfhrgsdrtdrhfrythryth {
  0% {
    height: 5%;
    width: 5%;
    top: 70%;
    left: 56%;
    opacity: 1;
  }
  60% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 78%;
    opacity: 1;
  }
  90% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 92.5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 5%;
    width: 5%;
    top: 92%;
    left: 92.5%;
    opacity: 0;
  }
}
@keyframes builderio-sdfhfgdhdtyjytunjkfgythdfghsdfgsdfgsthrtjhyrtjytjh {
  0% {
    height: 5%;
    width: 5%;
    top: 70%;
    left: 56%;
    opacity: 1;
  }
  50% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 78%;
    opacity: 1;
  }
  90% {
    height: 5%;
    width: 5%;
    top: 79%;
    left: 92.5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    height: 5%;
    width: 5%;
    top: 92%;
    left: 92.5%;
    opacity: 0;
  }
}
@keyframes builderio-rsdeghoudeghuierhuyieruerhuheruigheruighuiergj {
  0% {
    height: 4.5%;
    width: 9%;
    top: 80%;
    left: -10%;
    opacity: 1;
    transform: rotate(90deg);
  }
  10% {
    height: 4.5%;
    width: 9%;
    top: 85%;
    left: -10%;
    transform: rotate(90deg);
  }
  11% {
    transform: rotate(0deg);
  }
  29% {
    transform: rotate(0deg);
  }
  30% {
    height: 4.5%;
    width: 9%;
    top: 87%;
    left: 20%;
    opacity: 1;
  }
  60% {
    transform: rotate(-90deg);
  }
  100% {
    height: 4.5%;
    width: 9%;
    top: 40%;
    left: 37%;
    opacity: 1;
    transform: rotate(-90deg);
  }
}
@keyframes builderio-erigberuighuowerhfgoiweipjfiwejfiwjefoweoifjwoiefj {
  0% {
    height: 3%;
    width: 6%;
    top: 20%;
    left: -2.4%;
    opacity: 1;
    transform: rotate(-90deg);
  }
  10% {
    height: 3%;
    width: 6%;
    top: 7%;
    left: -1.4%;
    opacity: 1;
    transform: rotate(-90deg);
  }
  11% {
    top: 4%;
    opacity: 1;
    transform: rotate(0deg);
  }
  19% {
    opacity: 0;
    top: 4%;
    transform: rotate(0deg);
  }
  20% {
    height: 3%;
    width: 6%;
    top: 4%;
    left: 15%;
    opacity: 0;
    transform: rotate(90deg);
  }
  80% {
    opacity: 0;
  }
  100% {
    height: 3%;
    width: 6%;
    top: 5%;
    left: 15%;
    transform: rotate(90deg);
    opacity: 0; /* Ensure it fully disappears at the end */
  }
}
@keyframes builderio-weufhuwerhfguoerhgohsdihfgiskdhoifosdgfksdjgogsgsf {
  0% {
    height: 3%;
    width: 6%;
    top: 79%;
    left: 15%;
    transform: rotate(180deg);
  }
  40% {
  }
  49% {
    transform: rotate(180deg);
  }
  50% {
    height: 3%;
    width: 6%;
    top: 79%;
    left: 2%;
    transform: rotate(90deg);
  }
  60% {
  }
  100% {
    height: 3%;
    width: 6%;
    top: 90%;
    left: 2%;
    opacity: 0;
    transform: rotate(90deg);
  }
}
@keyframes builderio-fposdjfopsdoipfgjsdoipjgiji0erjo0pgjperoigj0ierjg {
  0% {
    z-index: 10;
    height: 3%;
    width: 6%;
    top: 28%;
    left: -1%;
    opacity: 1;
    transform: rotate(-90deg);
  }
  100% {
    z-index: 10;
    height: 3%;
    width: 6%;
    top: 90%;
    left: 90%;
    opacity: 1;
    transform: rotate(90deg);
  }
}
@keyframes builderio-sdgoihiogroiwehgioheroighoierhgierokhgjreglwkfnoiw {
  0% {
    z-index: 10;
    height: 3%;
    width: 6%;
    top: 20%;
    left: -1%;
    opacity: 1;
    transform: rotate(-90deg);
  }
  100% {
    z-index: 10;
    height: 3%;
    width: 6%;
    top: 70%;
    left: 40%;
    opacity: 1;
    transform: rotate(90deg);
  }
}

.ball1,
.ball21,
.ball2,
.ball22,
.ball3,
.ball31,
.ball32,
.ball4,
.ball41,
.ball42,
.ball5,
.ball51,
.ball52,
.ball6,
.ball61,
.ball62,
.ball7,
.ball8,
.ball9,
.ball10,
.ball11,
.ball12,
.ball13,
.ball14,
.ball141,
.ball142,
.ball15,
.ball151,
.ball152,
.ball16,
.ball17,
.ball18,
.ball19,
.ball20 {
  position: absolute;
  top: 0%;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  animation-play-state: running;
  /* display: none; */
}

.ball1 {
  animation: builderio-nwerigjfwiofqeidfjnaknsggrstdrhrthrthwgafdsf var(--duration) linear;
}
.ball21 {
  animation: builderio-fweferfewrfgrtghytjulikuimjnhfgddwerfgtghrhry var(--duration) linear;
}

.ball2 {
  animation: builderio-ytjdrtuhrytjhryjhtfrrtfhrthrrthrthrthrththterhset var(--duration) linear;
}

.ball22 {
  animation: builderio-difgjhoikdetngjlkndhdfgjhlikjdflknjhdfslgmksdflgkl var(--duration) linear;
}

.ball3 {
  animation: builderio-rtjnrodjhgksdfgjdsfgjlkhsjokdrthrthrthsefrgnhjob var(--duration) linear;
}
.ball31 {
  animation: builderio-rferfergfergertgergergergergthyjyujtyujyrthrtgherge var(--duration) linear;
}
.ball32 {
  animation: builderio-ertyhrthrthrthrythbvjubn78kimwerfgerfegertggerfgrgerger var(--duration) linear;
}

.ball4 {
  animation: builderio-sdgjinhiosdglkangkpmjpmgkssdfgsgsrgswrgwdsfnghokdng var(--duration) linear;
}
.ball41 {
  animation: builderio-ergergthgrthytnthyrhtgfsdgsdfsdfsdfcsdfcsdvfssdvf var(--duration) linear;
}
.ball42 {
  animation: builderio-tbnhrthbnrythyrtnhytjytujnytujnytjnynjhrthbetghbertbghegrf var(--duration) linear;
}

.ball5 {
  animation: builderio-sjoabfgnkwgnjkrwejgpjersgjerksgrswgtwregrwegerggjer var(--duration) linear;
}
.ball51 {
  animation: builderio-wfwefwefwerfwergrthtyjyujyujukuikuilkoilkjnrgtbverfver var(--duration) linear;
}
.ball52 {
  animation: builderio-werfwerfgergrtgrtghrthythythytjnhytujnyujntyhrtgbvefrgerg var(--duration) linear;
}

.ball6 {
  animation: builderio-jsdghjkthertoigjhieropgjirogjjrnsfgggsrgwregrwegjeroing var(--duration) linear;
}
.ball61 {
  animation: builderio-egertgrthythytjytjytujhythrtgerfgerfwerfwerfervretgrtgrt var(--duration) linear;
}
.ball62 {
  animation: builderio-rtbhrythythytjuyjmyuikyujnytbhrtgverfgerfverfvverferfer var(--duration) linear;
}

.ball7 {
  animation: builderio-ipwehfohguoierhouihfgkwejfoipwesrgsrgrjfgoinhksad var(--duration) linear;
}

.ball8 {
  animation: builderio-sngfswrpgjopwregoeghpdgkpskfldegrgherergergerhdegswg var(--duration) linear;
}

.ball9 {
  animation: builderio-rgnjhlkegnjhkenjgiksjkgdaskfksdfnjkgswefgwefweffwefanaf var(--duration) linear;
}

.ball10 {
  animation: builderio-phoijetnjhlkengkpwrngknslknsdlknglksdwefweffweffnglksnd var(--duration) linear;
}

.ball11 {
  animation: builderio-asdfbsbgjskgkshkghsiopgjhkgjhlsgjkospjgopjswropgj var(--duration) linear;
}

.ball12 {
  animation: builderio-ipgnjikergnhjeghoiergokfsdjghsuideghdjifbhgjlis var(--duration) linear;
}

.ball13 {
  animation: builderio-jsregnhdfguijhbguidshguidfhguihsdgfibghshdgdfjh var(--duration) linear;
}

.ball14 {
  animation: builderio-dfsghoishrgoihuefrgerigyuieriglusihuishdeluguisdfl var(--duration) linear;
}

.ball141 {
  animation: builderio-rthdrthrtdhsdfrtyyhrtghdfgsdrgrhtymjtujtyujhrgheg var(--duration) linear;
}

.ball142 {
  animation: builderio-fgdjhsfghsdfghdfshfgdhfghsdfhdfghsdfgbhsdfhfghgh var(--duration) linear;
}

.ball15 {
  animation: builderio-soirfghoishuigldeguishdfughudsfighudifghudfghsudg var(--duration) linear;
}

.ball151 {
  animation: builderio-ergtersdfgsdfsgrtfhytjyumjkyujfhrgsdrtdrhfrythryth var(--duration) linear;
}

.ball152 {
  animation: builderio-sdfhfgdhdtyjytunjkfgythdfghsdfgsdfgsthrtjhyrtjytjh var(--duration) linear;
}

.ball16 {
  animation: builderio-rsdeghoudeghuierhuyieruerhuheruigheruighuiergj var(--duration) linear;
}

.ball17 {
  display: none;
  animation: builderio-erigberuighuowerhfgoiweipjfiwejfiwjefoweoifjwoiefj var(--duration) linear infinite;
}

.ball18 {
  display: none;
  animation: builderio-weufhuwerhfguoerhgohsdihfgiskdhoifosdgfksdjgogsgsf var(--duration) linear infinite;
}

.ball19 {
  display: none;
  animation: builderio-fposdjfopsdoipfgjsdoipjgiji0erjo0pgjperoigj0ierjg var(--duration) linear infinite;
}

.ball20 {
  display: none;
  animation: builderio-sdgoihiogroiwehgioheroighoierhgierokhgjreglwkfnoiw var(--duration) linear infinite;
}

.source-box,
.target-box {
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.5rem;
}

.source-box {
  background-color: #3b82f6;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.target-box {
  background-color: #22c55e;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#BulbController {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* width: 160px; */
  height: 8.5px;
  border-radius: 10px;
  background: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
  outline: none;
  transition: background 0.3s ease-in-out;
}
#BulbController::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffcc00;
  border: 3px solid #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
#BulbController::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffcc00;
  border: 3px solid #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
