@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  color: #052524;
}
#headerAccordion {
  transition: opacity 0.3s ease-in-out;
}
